{% extends 'global/base.html' %}

{% block content %}
  <div class="single-contact">
    <h1 class="single-contact-name">
      {{ contact.first_name }} {{ contact.last_name }}
    </h1>

    <p><b>ID:</b> {{ contact.id }}</p>
    <p><b>E-mail:</b> {{ contact.email }}</p>
    <p><b>Phone:</b> {{ contact.phone }}</p>
    <p><b>Created Date:</b> {{ contact.created_date }}</p>
    <p><b>Description:</b> {{ contact.description }}</p>
    <p><b>Category:</b> {{ contact.Category.name }}</p>

    {% if contact.picture %}
      <p>
        <img src="{{ contact.picture.url }}" alt="{{ contact.first_name }} {{ contact.last_name }}">
      </p>
    {% endif %}

    {% if user == contact.owner %}
      <div class="contact-links">
        <a class="btn btn-link" href="{% url 'contact:update' contact.id %}">Update</a>

        <script type="text/javascript">
          function showAlert(e){
              var inputElement = document.getElementById("Confirmation")
              if(confirm("Deseja excluir esse registro?")){
                inputElement.value = 'yes'
              }
            }
        </script>

        <form action="{% url 'contact:delete' contact.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="confirmation" id="Confirmation" value="no">
          <button class="btn btn-link btn-delete" type="submit" id="DeleteButton" onclick="showAlert(event)">Delete</button>
        </form>

      </div>
    {% endif %}

  </div>
{% endblock content %}